body {
    display: grid;
    height: 100vh;
    margin: 0;
    place-items: center center;
}

.planetBlock {
    display: inline-block;
    margin: 10px;

    select {
        display: block;
        margin: 0 auto;
    }
}

.container {

    li {
        list-style: none;
    }

    ul {
        padding: 0;
    }
}